<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Página de error - {{ error.code }}</title>
</head>
<body>
  <p>Ups!, parece que ha ocurrido un error: {{ error.message }}</p>
</body>
</html>